<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Secure Storage</title>
</head>
<body>

    <h1>☁️ Cloud Secure Storage</h1>

    <h2>Welcome</h2>

    <p>
        A secure cloud storage application developed using Python, Flask,
        MySQL, and Encryption.
    </p>

    <hr>

    <h3>Project Features</h3>

    <ul>
        <li>Secure User Authentication</li>
        <li>Encrypted File Upload</li>
        <li>Secure File Download</li>
        <li>Cloud Storage Protection</li>
        <li>MySQL Database Integration</li>
    </ul>

</body>
</html>
